<% layout('layouts/boilerplate')%>
  <div class="text-center">
    <h1>Edit Campground Form</h1>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate class="needs-validation">
        <div class="mb-3">
          <label for="title" class="form-label">Title:</label>
          <input class="form-control" type="text" id="title" name="campground[title]" value="<%= campground.title %>"
            required />
          <div class="valid-feedback">This field is validated</div>
        </div>
        <br />
        <div class="mb-3">
          <label class="form-label" for="location">Location:</label>
          <input class="form-control" type="text" id="location" name="campground[location]"
            value="<%= campground.location %>" required />
          <div class="valid-feedback">This field is validated</div>
        </div>
        <br />
        <div class="mb-3">
          <label class="form-label" for="image">Image URL:</label>
          <input class="form-control" type="text" id="location" name="campground[image]" value="<%= campground.image %>"
            required />
          <div class="valid-feedback">This field is validated</div>
        </div>
        <br />
        <div class="mb-3">
          <label class="form-label" for="price">Campground Price:</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="price">$</span>
            <input type="text" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price"
              name="campground[price]" value="<%= campground.price %>" required />
            <div class="valid-feedback">This field is validated</div>
          </div>

        </div>
        <br />
        <br />
        <div class="mb-3">
          <label class="form-label" for="description">Description:</label>
          <textarea class="form-control" type="text" id="location" name="campground[description]"
            value="<%= campground.description %>" required>
         <%= campground.description %>
      </textarea>
          <div class="valid-feedback">This field is validated</div>
        </div>
        <div class="text-center">
          <button class="btn-success" type="submit">Update Campground</button>
          <a href="/campgrounds/<%= campground._id %>">Cancel</a>
        </div>
      </form>
    </div>
  </div>